@import "../../theme/fonts";
.upgrade-business {
  color: #fff;
  max-width: 300px;
  height: 400px;
  margin: auto;
  background: #2E5678;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #748DA3, #2E5678);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #748DA3, #2E5678);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  position: relative;
  h1,
  h3 {
    font-weight: normal;
  }
  .step {
    // float: left;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    left: 0;
  }
  .one-way {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 2rem;
  }
  .btn {
    color: #519CD9;
  }
  .row {
    cursor: pointer;
    border: 1px solid transparent; // avoid jump when clicking
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    &.active {
      border: 1px solid #fff;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  .col-6 {
    padding-right: 0;
    padding-left: 0;
    align-self: center;
  }
}
