<div class="upgrade-business text-center">
  <div class="step step1" #step1>
    <h3>Upgrade to business</h3>

    <div class="one-way">one way from</div>
    <h1>£189</h1>

    <ul class="list-unstyled">
      <li>FREE 2 x 32kg checked bags</li>
      <li>complimentary food and drinks</li>
      <li>lounge access</li>
    </ul>
    <footer>
      <button type="button" class="btn btn-light btn-block" (click)="animate()">Show me more</button>
    </footer>
  </div>
  <div class="step step2" #step2 hidden>
    <h5>Upgrade to business</h5>
    <ul class="list-unstyled">
      <li>FREE 2 x 32kg checked bags</li>
      <li>complimentary food and drinks</li>
      <li>lounge access</li>
    </ul>

    <button type="button" class="btn btn-light btn-block" (click)="animate()">Show me more 2</button>
  </div>
</div>
