<nav class="menu">
    <ul class="menu-nav">
        <li>
            <!-- On prod this would be a normal link and wouldn't be any loading process between -->
            <a class="menu-link" href="http://localhost:4200">Home</a>
        </li>
        <li>
            <a class="menu-link" href="http://localhost:4200/upgrade">Upgrade</a>
            </l>
            <li class="active">
                <a class="menu-link">AngularJS</a>
            </li>
            <li>
                <a class="menu-link" href="http://localhost:4200/this-is-not-gonna-work">404 test</a>
            </li>
    </ul>
</nav>

<div class="container">
    This is an AngularJS page
    <br />
    <react-upgrade></react-upgrade>
</div>