// @import "../../../angular/src/theme/variables";
@import "../../../angular/src/app/app.component";
@import "../../../angular/src/components/upgrade-business/upgrade-business.component";
@import "../../../angular/src/components/home/home.component";
// this part is duplicated from Angular project because we're calling some specifics libs from there
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.container {
    margin: 20px;
}

.menu-link {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    &:hover {
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
    }
}

h1 {
    margin-bottom: $gap3;
}

.space {
    margin-top: $gap2;
    margin-bottom: $gap2;
}

ul {
    list-style: none;
    padding-left: 0;
    &.circles {
        list-style: circle;
        margin-left: 20px;
    }
}

@mixin create-col($size) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 $size;
    -ms-flex: 0 0 $size;
    flex: 0 0 $size;
    width: $size;
    max-width: $size;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    .row {
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        .col {
            position: relative;
            margin: 0;
            min-height: 1px;
            -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            text-align: left;
            &.col-s {
                @include create-col(10%);
            }
            &.col-m {
                @include create-col(35%);
                text-align: right;
            }
            &.col-l {
                @include create-col(55%);
            }
        }
    }
}

.text-left {
    text-align: left;
}