@import "../../theme/fonts";
.upgrade-business {
  color: #fff;
  max-width: 300px;
  height: 400px;
  margin: auto;
  background: #2E5678;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #748DA3, #2E5678);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #748DA3, #2E5678);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  position: relative;
  text-align: center;
  h1,
  h3 {
    font-weight: normal;
  }
  .step {
    // float: left;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    box-sizing: border-box;
    left: 0;
  }
  .one-way {
    text-transform: uppercase;
    margin-top: $gap4;
  }
  .row {
    cursor: pointer;
    border: 1px solid transparent; // avoid jump when clicking
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    &.active {
      border: 1px solid #fff;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  .btn {
    cursor: pointer;
    color: #519CD9;
    display: block;
    width: 100%;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover {
      background-color: #e2e6ea;
      border-color: #dae0e5;
    }
    &:active {
      background-color: #f8f9fa;
      border-color: #f8f9fa;
    }
    &.btn-light {
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      &:hover {
        color: #519CD9;
      }
    }
  }
  .step3 {
    .space {
      margin: $gap4 0;
    }
    .check {
      width: 50px;
      border: 5px solid;
      border-radius: 50%;
      padding: 15px;
    }
  }
}
