<div class="upgrade-business">
  <div class="step step1" #step1>
    <div class="font-xxl">Upgrade
      <br />to business</div>

    <div class="one-way font-s">one way from</div>
    <div class="font-xxxl">£189</div>

    <ul class="space">
      <li>FREE 2 x 32kg checked bags</li>
      <li>complimentary food and drinks</li>
      <li>lounge access</li>
    </ul>
    <footer>
      <button type="button" class="btn" (click)="animate()">Show me more</button>
    </footer>
  </div>

  <div class="step step2" #step2 hidden>
    <div class="font-xl">Upgrade to business</div>
    <ul class="space font-s">
      <li>FREE 2 x 32kg checked bags</li>
      <li>complimentary food and drinks</li>
      <li>lounge access</li>
    </ul>

    <div class="grid">
      <div class="row" [ngClass]="{'active' : i === selectedUpgradeOption}" *ngFor="let option of upgradeOptions; let i = index"
        (click)="selectUpgradeOption(i)">
        <div class="col col-s">
          <input class="form-check-input" type="radio" name="upgradeOptions" [value]="index" [checked]="i === selectedUpgradeOption">
        </div>
        <div class="col col-l text-left">
          {{ option.description }}
        </div>
        <div class="col col-m">
          <span class="font-l">£{{ option.price }}</span>
          <span class="font-xs">pp</span>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-light space" *ngIf="selectedUpgradeOption === undefined" (click)="finishUpgrade()">I don't want to upgrade</button>
    <button type="button" class="btn space" *ngIf="selectedUpgradeOption !== undefined" (click)="finishUpgrade()">Upgrade now</button>
  </div>

  <div class="step step3" #step3 hidden>
    <div class="font-l">Upgrade to business</div>
    <ul class="font-s space">
      <li>FREE 2 x 32kg checked bags</li>
      <li>complimentary food and drinks</li>
      <li>lounge access</li>
    </ul>

    <img class="check" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2000px-White_check.svg.png"
      #checkIcon hidden>
    <div class="font-s" #updatedMessage hidden>Outbound flight upgraded</div>
  </div>
</div>
