<h2>Angular</h2>
<div class="space">
  Google doesn't support Angular project integration to old AngularJS. They "force" you to upgrade to the new version (
<a href="https://angular.io/guide/upgrade" target="_blank">more info</a>).
</div>

<div class="space">
  There are
  <a href="https://stackoverflow.com/questions/41303831/angular2-component-in-angular1-app" target="_blank">some ways</a> to do this but you will find some problems anyway:</div>
<ul class="circles">
  <li>No official support</li>
  <li>Definetely not the easiest and cleanest approach (specially on big projects)</li>
  <li>Problem to get new devs into a project like that</li>
  <li>Development time. Probably faster refactoring the actual code and doing a normal upgrade to Angular</li>
</ul>

<h3 class="mt-5">So what about if we can't upgrade?</h3>

<div class="space">
  It's understandble when we have a big project and we want to move everything to a newer technology face issues like this one.
  <br />
  Our approach here was create a totally separete new project (considering that we already had AngularJS working). Both of them running at the same time but linked each other.
<br />
If you check app.components out inside AngularJS project you will see that we are picking the style files up from the Angular one (this could be done in the other way around also).
<br />
On the same way we linked the menu options (app.component.html) to Angular. This would be replaced using some environment variables in order to use the real links when we compile the project.
</div>

<h3 class="mt-5">Other options</h3>
<ul class="circles space">
  <li>AngularJS + Angular: new pages and components using Angular. The main problem here is that we could end up having the same component on 2 different languages if we need new components for AngularJS (we can't have Angular inside AngularJS pages)</li>
  <li>AngularJS + React: new pages and components using React. The good thing here is tha we could also reuse new components on old pages</li>
  <li>AngularJS + Angular + React : new pages and components using Angular. For components needed on new and old pages we'd write them using React. This is the option that we implemented here and we consider the best one</li>
  <li>Angular: everything would be written using the new version. Obviously this would take more time but taking the first option (AngularJS + Angular) should be easier and faster
</ul>

<h2 class="mt-5">React</h2>
<div class="space">
  React has a number of qualities which make it relatively easy to integrate into code bases written in other frameworks.
  <br />
  <br />
  <h4>It's not a framework</h4>
  React is much more like a library than a framework and because of that it doesn't limit you in how you use it. React provides
  you with a set of tools and allows you to decide if and how you want to use them.
  <br />
  <br />
  <h4>It's modular</h4>
  React apps are built as components. Components are anything from full pages to single elements on a page. A website is split
  into sections and each section is built as an independent component, these components are brought together to create the
  entire website or web app. Because of this it makes it simple to take individual components and reuse them or integrate
  them elsewhere.
</div>
<div class="space">
  These qualities meant we were able to integrate the React component simply by lifting and shifting it, making no changes
  at all to it's code, and placing it in the AngularJS app. All that was needed to be done was configure the AngularJS app
  to be able to read React code using some libraries.
</div>
<br />

<h3>Approach</h3>
<div class="space">
  The 'upgrade-business' component was split into 4 seperate components, one parent (outer layer) and 3 child components (the
  3 steps). The parent component (often called a container) is a class and stateful component, this means that it's where
  all the logic and dynamic data is stored for the entire component. The 3 child components are functional and stateless,
  they are only responsible for the presentational aspect and don't handle any complex functionality. This approach is common
  and allows for easy scalability, if you want to remove a step you can just stop rendering it in the parent, if you want
  to add another step you could reuse an existing step component and pass in different props.
</div>
<br />

<h3>What other benefits are there with React?</h3>
<div class="space">
  As well as the benefits mentioned above - flexibility, modularity and scalability - React benefits from good performance
  due to it's 'virtual DOM' implementation. Everytime something on the page changes, React looks through the page, compares
  the current DOM with the virtual DOm and only updates the parts of the real DOM which have changed, rather than re-rendering
  the whole page. This makes React very efficient and speeds up page re-rendering.
</div>
<br />

<h3>What other drawbacks of using React?</h3>
<div class="space">
  Some of the drawbacks of using React are:
  <br />
  <br />
  <h4>It's not a framework</h4>
  As well as being a benefit, this is also a drawback as it means it will be harder to do everything a full framework can do
  and you will likely need to rely on third party frameworks. There's also no pre-defined way for how to structure the app
  so it's easier to create bad structures which can cause issues in the long term.
  <br />
  <br />
  <h4>Learning curve</h4>
  React is a very different way of developing compared to Angular and some elements of it can be confusing coming from Angular.
  React also does a lot behind the scenes and can make some behaviour quite confusing and difficult to debug.
</div>
