<nav class="navbar">
  <ul class="navbar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink=''>Home</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink='/upgrade'>Upgrade</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink='/this-is-not-gonna-work' routerLinkActive="active">404 test</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
