<nav class="navbar2">
  <ul class="navbar-nav2">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link2" routerLink=''>Home</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link2" routerLink='/upgrade'>Upgrade</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link2" routerLink='/this-is-not-gonna-work' routerLinkActive="active">404 test</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
