.navbar {
  background-color: #f8f9fa;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    .nav-link {
      display: block;
      padding: 0.5rem;
    }
    .active .nav-link {
      color: rgba(0, 0, 0, 0.9);
    }
  }
}
