// fonts
$font-xs: 0.7rem;
$font-s: 0.8rem;
$font-m: 1rem;
$font-l: 1.2rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;
$font-xxxl: 3rem;
// spaces
$gap1: 0.5rem;
$gap2: 0.7rem;
$gap3: 1rem;
$gap4: 2rem;
$gap5: 3rem;
